* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

.container {
  max-width: 1728px;
  margin: 0 auto;
}

.logout {
  border: none;
  background-color: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background: #eee;
  padding: 25px 265px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 19.41px;

  nav {
    display: flex;
    align-items: center;
    gap: 19px;

    a {
      margin-right: 15px;
      text-decoration: none;
      color: black;
      font-weight: bold;
    }

    .email {
      font-weight: bold;
      color: #333;
      cursor: pointer;
    }

    img {
      cursor: pointer;
    }
  }
}

main {
  padding: 44px 263px;

  h1 {
    font-size: 48px;
    line-height: 59.42px;
  }

  a {
    display: block;
    color: rgba(0, 71, 255, 1);
    font-size: 18px;
    line-height: 22.28px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 11px;
  }
}

.wallets {
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 74px;
  margin-top: 74px;
  height: 251px;

  h2 {
    font-size: 24px;
    line-height: 29.11px;
    color: rgba(0, 0, 0, 1);
  }

  .wallet-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  a {
    font-size: 16px;
    display: block;
    margin-top: 10px;
    color: rgba(0, 71, 255, 1);
    text-decoration: underline;
  }

}

.transactions {
  h2 {
    font-size: 24px;
    line-height: 29.11px;
    margin-bottom: 32px;
  }

  th {
    color: rgba(185, 192, 209, 1);
    font-weight: bold;
    font-size: 14px;
    line-height: 17.15px;
  }

  table {
    width: 1200px;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 21px;
  }

  th,
  td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    line-height: 17.15px;
  }

  a {
    font-size: 16px;
    display: block;
    margin-top: 10px;
    color: rgba(0, 71, 255, 1);
    text-decoration: underline;
  }
}

.wallets {
  display: flex;
  gap: 20px;
}

/* .wallet1,
.wallet2,
.wallet3, */
.wallet {
  width: 282px;
  height: 160px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.wallet:nth-child(4n + 1) {
  background: linear-gradient(84.37deg, #D7816A 2.27%, #BD4F6C 92.26%);
}

.wallet:nth-child(4n + 2) {
  background: linear-gradient(84.37deg, #5F0A87 2.27%, #A4508B 92.26%);
}

.wallet:nth-child(4n + 3) {
  background: linear-gradient(84.37deg, #20BF55 2.27%, #01BAEF 92.26%);
}

.wallet:nth-child(4n + 4) {
  background: linear-gradient(84.37deg, #380036 2.27%, #0CBABA 92.26%);
}

.wallet-name {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: bold;
  color: white;
  margin-top: 5px;
  margin-left: 10px;
}

.wallet .rub {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
  margin-left: 10px;
}